<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>149319891460-a9qulg3nkmp3oalp1agpb7d20u4ctt1i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.149319891460-a9qulg3nkmp3oalp1agpb7d20u4ctt1i</string>
	<key>API_KEY</key>
	<string>AIzaSyAkgIrIimypRnNC8LzWgef5lVuJ8-xcYGQ</string>
	<key>GCM_SENDER_ID</key>
	<string>149319891460</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.salah.12488.The-XY-Designer</string>
	<key>PROJECT_ID</key>
	<string>the-xy-designer-74fa3</string>
	<key>STORAGE_BUCKET</key>
	<string>the-xy-designer-74fa3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:149319891460:ios:76d730cc62298283b79351</string>
</dict>
</plist>